.elements{
  display: inline-block;
  width: 100%;
  padding: 40px;

  &__first{ 
    display: flex;
    
    &__userContainer{
    text-align: center;
    margin: auto;
    padding: 20px;
    height: 30vh;
    width: 35%;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    }
  }
  
}